
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p><span>TECH-DAILY</span> <img id="footerPic" src="/logo.png" /> | &copy 2022 All Rights Reserved</p>
  </div>
</div>
</body>
</html>
