<%-include("partials/header"); -%>

<div id="scroll" id="content">
  <h1 id="green">About</h1>
  <p><%=AboutContent%></p>
  <div id="center">
    <img id="pic" src="/aboutOne.jpg" />
  </div>
</div>
<%-include("partials/footer"); -%>