<%-include("partials/header"); -%>

<div id="scroll" id="content">
  <h1 id="green">Compose</h1>
  <form action="/compose" method="post" class="">
    <div class="form-group">
        <label for="postName">Name</label>    
        <input class="form-control" type="text" name="postName" placeholder="What is your name?" />

        <label for="postTitle">Profession</label>    
        <input class="form-control" type="text" name="postTitle" placeholder="What is your profession?" />

        <label for="postBody">Post</label>    
        <textarea  class="form-control" name="postBody" rows="5" cols="30" placeholder="Enter your post..."></textarea>

        <button type="submit" name="">Publish</button>
</div>
  </form>
</div>
<%-include("partials/footer"); -%>