<%-include("partials/header"); -%>

<div id="content">
  <h1 id="green">Home</h1>
  <p><%=StartingContent%></p>
  <div id="center">
    <img id="homePic" src="/one.jpg"/>
    <img id="homePic" src="/two.jpg"/>
    <img id="homePic" src="/three.jpg"/>
    <img id="homePic" src="/four.jpg"/>
  </div>
</div>
<%-include("partials/footer"); -%>
