<%-include("partials/header"); -%>

<div id="content">
    <%posts.forEach((post) => { %>
    <h2><%=post.name%></h2>
    <p><%=post.message%></p>
    <%})%>
</div>
<%-include("partials/footer2"); -%>